body{
    font-family: "Montserrat", sans-serif;
    background: #343045;
}

header{
    background: #343045;
}
.logo img{
    height: 55px;
    width: 150px;
}

a{
    text-decoration: none;
    font-size: 12px;
    color: white;
}

.contact{
    border: 1px solid white;
    color: white;
    padding: 10px 18px;
    border-radius: 90px;
}

.contact:hover{
    border: 1px solid white;
    color: white;
}
.join{
    background: linear-gradient(#8176AF,#C0B7E8);
    color: #343045;
    border-radius: 90px;
}

.title{
    font-size: 46px;
    font-weight: bold;
    background: linear-gradient(#C0B7E8,#8176AF);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text{
    color: #ffffff;
    font-size: 16px;
}

.arrow{
    color: #C0B7E8;
    font-size: 45px;
}

.join1{
    background: radial-gradient(#3A3456, #211E2E);
    border-radius: 90px;
}

.heading{
    color: white;
    font-size: 24px;
}

.col-mid{
    border-left: 1px solid #C0B7E8;
    border-right: 1px solid #C0B7E8;
}

.heading1{
    color: white;
    font-size: 36px;
}

.second{
    margin-top: 70px;
    margin-bottom: 70px;
}

hr{
    color: white;
    width: 150px;
    margin-left: 50px;
}

.card-3{
    background: radial-gradient(#3A3456, #211E2E);
    border-radius: 30px;
}

.heading2{
    color: white;
    font-weight: bold;
}

.card-3 img{
    height: 192px;
    width: 292px;
    padding-top: 15px;
}

.product img{
    width: 100%;
    height: 100px;
}

.process{
    background: linear-gradient(#8176AF,#C0B7E8);
    border-radius: 100%;
    width: 120px;
    height: 120px;
    font-size: 64px;
    font-weight: bolder;
    text-align: center;
    margin: 50px;
    margin-bottom: 20px;
}

.process1{
    color: white;
    width: 220px;
    height: 120px;
    font-size: 20px;
    font-weight: bolder;
    /* text-align: center; */
}

.optln{
    background: radial-gradient(#3A3456, #211E2E);
    text-align: center;
    border-radius: 50px;
    padding: 50px;
}

.form-control{
    border-radius: 40px;
    background: transparent;
    height: 50px;
    border: 3px solid white;
}

.form-control::placeholder {
    color: white;
    opacity: 1;
    padding: 20px;
}

.message{
    height: 200px;
}

.foot1{
    border-left: 3px solid #C0B7E8;
}

.foot1 li{
    list-style: none;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
}

.socail i{
    color: rgba(192, 183, 232, 1);
    font-size: 25px;
    padding: 20px;
}

.line{
    width: 100%;
    margin-left: 0;
}

.tech{
    height: 200px;
    background-image: url(/images/Cloud\ backgroung.png);
    border-radius: 90px;
    font-size: 36px;
    color: white;
    padding-top: 50px;
    line-height: 25px;
    align-items: center;
}

.scroll{
    background: #C0B7E8;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-top: 35px;
}

.scroll img{
    padding-top: 15px;
}